@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  /* background: radial-gradient(circle, #0b006b 100%, #1500d4 100%); */
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles 

/* PromptCard Component */
.flex-center {
  @apply flex justify-center items-center;
}

.app {
  position: relative;
  top: -75px;
}

.bots {
  width: 300px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
}

.bot {
  width: 50px;
  height: 50px;
}

.qrcode {
  width: 150px;
  height: 150px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  align-items: center;
  display: inline-block;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  border-radius: 4px;
  background-color: rgb(255, 196, 0);
  transition: .3s;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 10px 0px black;
}

.textbt {
  display: inline-block;
  width: 150px;
  height: 40px;
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 0px;
  word-spacing: 0px;
  font-weight: 700;
  font-family: Helvetica;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
}

.logosmart {
  width: 350px;
  height: 350px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.fraselogo {
  position: relative;
  margin-top: -20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20pt;
  font-family:'Franklin Gothic Medium', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.button-v {  
  align-items: center;
  width: 120px;
  height: 25px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-radius: 4px;
  background-color: rgb(0, 133, 7);
  transition: .3s;
  cursor: pointer;
}

.textbt-v {
  display: inline-block;
  align-items: center;
  width: 150px;
  height: 20px;
  font-size: 15px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  word-spacing: 0px;
  font-weight: 700;
  font-family: Helvetica;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

.logomenu {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frasemenu {
  position: relative;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20pt;
  font-family:'Franklin Gothic Medium', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0px;
  line-height: 30px;
  color: rgb(255, 0, 0);
}

.folder {
  width: 100vh;
  /* height: 100vh; */
  margin-top: -1px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.app {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 7xl;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

@media (min-width: 640px) {
  .app {
    padding-right: 16px;
    padding-left: 16px;
  }
}


.end-of-page {
  margin-top: 1000px;
}

.formu {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 25px;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-size: 14pt;
}

.btsub {  
  align-items: center;
  width: 120px;
  height: 25px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-radius: 4px;
  background-color: rgb(0, 102, 197);
  transition: .3s;
  cursor: pointer;
}

.textbtsub {
  width: 120px;
  height: 20px;
  font-size: 15px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  word-spacing: 0px;
  font-weight: 700;
  font-family: Helvetica;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

.checks {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.whatsb {  
  position:fixed;
  width:50px;
  height:50px;
  bottom:10px;
  right:10px;
  text-align:center;
  font-size:30px;
  z-index:1000;
}

.p3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

@media screen and (max-width: 768px) {
  /* Estilos para telas menores que 768px */
}

@media screen and (max-width: 480px) {
  /* Estilos para telas menores que 480px */
}

.homepage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.homepage-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #FFC72C 0%, #FF6C00 100%);
  background-attachment: fixed;
  z-index: -1; /* Coloca a camada do fundo atrás do conteúdo */
}

.homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 70%;
  max-height: 90vh;
  margin-top: 0;
}

.homepastel {
  position: relative;
  height: 100vh;
}

.homepastel-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #bd0000 100%, #ff0000 100%);
  background-attachment: fixed;
  z-index: -1; /* Coloca a camada do fundo atrás do conteúdo */
}

.homepastel-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 70%; /* Defina a altura desejada */
  max-height: 90vh; /* Defina uma altura máxima para evitar que o conteúdo ultrapasse a altura da janela do navegador */
}

.logopastel {
  width: 350px;
  height: 185px;
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10px;
}

.fraselogopastel {
  position: relative;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19pt;
  font-family:'Franklin Gothic Medium', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.textbtpastel {
  display: inline-block;
  width: 150px;
  height: 40px;
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 0px;
  word-spacing: 0px;
  font-weight: 700;
  font-family: Helvetica;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
}

.fraseconstru {
  position: relative;
  margin-top: -20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20pt;
  font-family:'Franklin Gothic Medium', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0px;
  line-height: 30px;
  color: rgb(255, 0, 0);
}

.whatsb {  
  position:fixed;
  width:80px;
  height:80px;
  bottom:20px;
  right:20px;
  text-align:center;
  font-size:30px;
  z-index:1000;
}

/* jacoia */

.homejacoia {
  position: relative;
  height: 100vh;
}

.homejacoia-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #ffe600 100%, #ff0000 100%);
  background-attachment: fixed;
  z-index: -1; /* Coloca a camada do fundo atrás do conteúdo */
}

.homejacoia-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 70%; /* Defina a altura desejada */
  max-height: 90vh; /* Defina uma altura máxima para evitar que o conteúdo ultrapasse a altura da janela do navegador */
}

.logojacoia {
  width: 350px;
  height: 350px;
  margin-top: 290px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10px;
}

.fraselogojacoia {
  position: relative;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19pt;
  font-family:'Franklin Gothic Medium', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0px;
  line-height: 30px;
  color: rgb(211, 0, 0);
}

.textbtjacoia {
  display: inline-block;
  width: 150px;
  height: 40px;
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 0px;
  word-spacing: 0px;
  font-weight: 700;
  font-family: Helvetica;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
}

.whatsbjacoia {  
  position:fixed;
  width:80px;
  height:80px;
  bottom:20px;
  right:20px;
  text-align:center;
  font-size:30px;
  z-index:1000;
}

/* Curuzu */

.homecuruzu {
  position: relative;
  height: 100vh;
}

.homecuruzu-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #000000 100%, #ff0000 100%);
  background-attachment: fixed;
  z-index: -1; /* Coloca a camada do fundo atrás do conteúdo */
}

.homecuruzu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 70%; /* Defina a altura desejada */
  max-height: 90vh; /* Defina uma altura máxima para evitar que o conteúdo ultrapasse a altura da janela do navegador */
}

.logocuruzu {
  width: 250px;
  height: 250px;
  margin-top: 290px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10px;
}

.fraselogocuruzu {
  position: relative;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19pt;
  font-family:'Franklin Gothic Medium', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0px;
  line-height: 30px;
  color: rgb(211, 0, 0);
}

.textbtcuruzu {
  display: inline-block;
  width: 150px;
  height: 40px;
  margin-top: 8px;
  margin-right: 0px;
  margin-bottom: 8px;
  margin-left: 0px;
  word-spacing: 0px;
  font-weight: 700;
  font-family: Helvetica;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
}

.whatsbcuruzu {  
  position:fixed;
  width:80px;
  height:80px;
  bottom:20px;
  right:20px;
  text-align:center;
  font-size:30px;
  z-index:1000;
}
